@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}

#carta {
  background-color: white;
  height: 400px;
  width: 230px;
  margin: auto;
}
#letra {
  height: 120px;
}

.diamante {
  color: red;
}

.corazon {
  color: red;
}

#pintaarriba {
  margin-left: 7px;
  font-size: 60px;
}
#pintaabajo {
  font-size: 60px;
  position: relative;
  top: -20px;
  left: 10px;
  width: 20px;
  height: 50px;
}

.abajo {
}
#numerocarta {
  font-size: 80px;
  position: relative;
  top: 20px;
  left: 10px;
}
